section {
  background: url(../../../assets/404.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn {
    margin-bottom: 100px;
    text-transform: capitalize;
    padding: 0.5em 1em;
    i {
      padding-left: 0.4em;
    }
  }
}

@media only screen and (min-width: 768px) {
  section {
    justify-content: end;
  }
}
