<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <!-- <img src="../../../assets/logoo.png" alt="logo page" /> -->

      <!-- <img src="./../../.././assets/logoo.png" alt="logo-test" /> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <p
      class="alert alert-danger p-0"
      *ngIf="recipeInp?.errors?.['required'] && recipeInp?.touched"
    >
      search type Required
    </p> -->
    <div class="input-group">
      <!-- <input
        type="text"
        class="form-control"
        placeholder="Search over one million recipes..."
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        [formControl]="recipeInp"
        (keyup.enter)="updateRecipe()"
      /> -->
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        placeholder="Search over one million recipes..."
        [formControl]="recipeInp"
        (keyup.enter)="updateRecipe()"
      >
        <option *ngFor="let rec of select">{{ rec }}</option>
      </select>
      <button
        class="btn btn-danger"
        type="button"
        id="button-addon2"
        (click)="updateRecipe()"
      >
        Search
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" (click)="clickNav()">
          <button class="btn btn-danger" routerLink="/login">
            login <i class="fas fa-sign-in-alt"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
